---

---

<div id="container">
	<div id="header">
		<h1>
			👉 ¿Te gustan los sorteos, las rifas y la emoción diaria? 🍀
			🎲📈 Juega, participa y gana con nuestras Dinámicas Diarias 💰💵
		</h1>
	</div>
	<div id="body">
		<h3>
			Te damos la bienvenida a Estrella de la Fortuna
		</h3>

		<p>Participa en nuestros sorteos diarios de 2 cifras y gana premios instantáneos de hasta 1 millón. ¡Es fácil y divertido!</p>

		<div id="video">
			<video
				id="tradingVideo"
				controlslist="nodownload"
				disablepictureinpicture
				oncontextmenu="return false"
				playsinline
				autoplay
				muted
				controls="controls"
				preload="metadata"
				data-yt-controls="1"
			>
				<source src="/estrella_video.mp4" type="video/mp4" />
				Tu navegador no soporta el enlace al video.
			</video>
			<div id="mute-overlay">
				<img src="/volume-mute.png" alt="Mute icon" />
				<p>Haz clic para reproducir sonido</p>
			</div>
		</div>

		<h3>📲 Únete a nuestra comunidad de WhatsApp y recibe todo directamente en tu celular:</h3>
		<ul>
			<li>✅ Sorteos diarios de 2 cifras</li>
			<li>✅ Premios de hasta 1 millón de pesos</li>
			<li>✅ Resultados en tiempo real</li>
			<li>✅ Atención directa y personalizada</li>
			<li>✅ Regalos gratis entre 5 y 10 números todos los días</li>
		</ul>

		<div id="link">
			<a 
				href="" 
				target="_blank" 
				title="Ingresa al grupo"
				id="whatsapp_link"
			>
				<button>
					<img
						src="https://cdn-icons-png.flaticon.com/512/124/124034.png"
						alt="Whatsapp"
						width="40"
						height="40"
						style="vertical-align: middle; margin-right: 8px;"
					/>
					<b>Unirme al grupo</b>
				</button>
			</a>
		</div>

		<div id="footer">
			<h3>ESTRELLA DE LA FORTUNA</h3>
			<p>Todos los derechos reservados</p>
			<p>2025</p>
		</div>
	</div>
</div>

<script>

	document
		.getElementById("mute-overlay")
		.addEventListener("click", function () {
			document.getElementById("tradingVideo").muted = false;
			this.style.display = "none";
		});

	
	document
        .getElementById("whatsapp_link")
        .addEventListener("click", function () {
            gtag('event', 'click', {
                'event_category': 'Enlace',
                'event_label': 'Telegram Link'
            });
        });
</script>

<style>
	* {
		box-sizing: border-box;
		margin: 0;
	}

	#container {
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		height: 100vh;
		max-width: 800px;
	}

	#header {
		background-color: #1613e9;
		height: auto;
		padding: 15px 10px;
		line-height: 1;
	}

	#header h1 {
		font-size: 1.625rem;
	}

	#body {
		padding: 0 10px;
		max-width: 500px;
	}

	#video {
		margin-top: 20px;
		position: relative;
	}

	#video video {
		width: auto;
		max-height: 400px;
		border: none;
		border-radius: 10px;
	}

	#tradingVideo::-webkit-media-controls-time-seek-forward-button,
	#tradingVideo::-webkit-media-controls-timeline {
		display: none;
	}

	#mute-overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #0eb30e8a;
		padding: 20px;
		border-radius: 10px;
		text-align: center;
		cursor: pointer;
	}

	#mute-overlay img {
		width: 50px;
		height: 50px;
		margin-bottom: 10px;
	}

	#mute-overlay p {
		font-size: 18px;
		color: #fff;
	}

	#link {
		margin: 0 0 20px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#link button {
		background-color: #1BD741;
		color: #fff;
		border: none;
		border-radius: 10px;
		padding: 18px 28px;
		font-size: 1.5rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		transition:
			box-shadow 0.3s ease,
			transform 0.3s ease;
		box-shadow: 0 0 40px #f72a2a;
		animation: pulse 2s infinite;
	}

	#link button:hover {
		box-shadow: 0 0 50px #0eb30e;
		transform: scale(1.05);
	}

	#link a:focus {
  		outline: none; 
	}

	@keyframes pulse {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
	
	.pasos {
		font-size: 1.2rem;
		margin: 15px 0;
	}

	.pasos b,
	#footer h3 {
		color: #0eb30e;
	}

	#footer {
		margin: 30px;
	}
</style>
